<div class="visualize container">
  {{#each LERS.ruleset.rules as |rule|}}
    <div class="row">Rule: {{rule.toString}}</div>
    <div class="row">Completely Matched Cases</div>
    {{#each rule.completelyMatchedCases as |ccase|}}
      <div class="row">{{ccase.toString}} --> Classified: {{ccase.isClassified}}</div>
    {{/each}}
    <div class="row"></div>
    <div class="row">Partially Matched Cases</div>
    {{#each rule.partiallyMatchedCases as |pcase|}}
      <div class="row">{{pcase.toString}} --> Correctly Classified: {{pcase.isCorrectlyClassified}}</div>
    {{/each}}
  {{else}}
    <div class="row">Nothing Yet</div>
  {{/each}}
  <div class="row"></div>
  <div class="row">
    {{LERS.stringify}}
  </div>
</div>
<nav class="navigation navbar fixed-bottom navbar-footer">
  {{toggle-switch
    identifier="shouldUseMatchingFactor"
    labelLeft="Default"
    labelRight="1.0"
    labelTop="Matching Factor"
    isSwitchedOn=shouldUseMatchingFactor
    onToggleSwitch=(action "toggleSwitch")
  }}
  {{toggle-switch
    identifier="shouldUseConditionalProbability"
    labelLeft="Strength"
    labelRight="Conditional Probability"
    labelTop="Strength Factor"
    isSwitchedOn=shouldUseConditionalProbability
    onToggleSwitch=(action "toggleSwitch")
  }}
  {{toggle-switch
    identifier="shouldUseSpecificityReturnFactor"
    labelLeft="Default"
    labelRight="1.0"
    labelTop="Specificity Factor"
    isSwitchedOn=shouldUseSpecificityReturnFactor
    onToggleSwitch=(action "toggleSwitch")
  }}
  {{toggle-switch
    identifier="shouldUseSupportFromOtherRules"
    labelLeft="No"
    labelRight="Yes"
    labelTop="Support from other rules"
    isSwitchedOn=shouldUseSupportFromOtherRules
    onToggleSwitch=(action "toggleSwitch")
  }}
</nav>